@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/*global*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
img{
    max-width: 100%;
}

a{
    color: black;
    text-decoration: none;
}

h2, h3, h4{
    text-transform: uppercase;
}


/*utilities*/
.container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
/*navigation*/
nav.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 40px;
    padding: 5px 20px;
}

nav.menu img{
    height: 32px;
}

img.natgeo-logo{
    display: none;
}

a.login-link{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 4px;
    margin-right: 20px;
}

a.search-link{
    display: none;
}

a.news-link{
    display: none;
}

a.subs-link{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-right: 20px;
    background-color: black;
    color: white;
    padding: 15px;
    box-shadow: inset 0 0 0 0 #FFD51C;
    transition: ease-out .5s;
}

a.subs-link:hover{
    box-shadow: inset 200px 0 0 0 #FFD51C;
    color: black;
}

a.menu-link span{
    display: none;
}


/*header*/
header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 40px;
    text-align: center;
    height: 180px

}

header p.title{
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 900;
    margin-bottom: 20px;
}

header p.description{
    font-size: 16px;
    margin-bottom: 15px;
}

header p.description span{
    border-bottom: 2px solid #FFD51C;
    box-shadow: inset 0 0 0 0 #FFD51C;
    transition: ease-out 0.5s;
}

header p.description span:hover{
    box-shadow: inset  0 -100px 0 0  #FFD51C;
    color: black
}

/*Main*/
main{
    display: flex;
    flex-direction: column;
}

/*Main news*/
.main-news{
    position: relative; /*parent*/
    overflow: hidden;
}

.img-container:hover{
    transform: scale(1.1);
}
.main-news-text{
    position: absolute;
    top: 150px;
    left: 30px;
    color: white;
}

.main-news-text h3{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
}

.main-news-text p{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.main-news-text h4{
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: bold;
}

.main-news-text i{
    margin-right: 5px;
}

.img-container{
    width: 100%;
}

/*Secondary news*/
.secondary-news{
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
}
.secondary-news:hover img{
    border-bottom: 5px solid #FFD51C;
    transform: scale(1.1);
}

.secondary-news-img img{
    height: 250px;
    min-width: 100%;
}

.secondary-news-text{
    margin-top: -10px;
    background-color: white;
    height: 110px;
    padding: 20px;
}

.secondary-news-text h3{
    margin-top: 10px;
    margin-bottom: 15px;
    color: #555;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: bold;
    
}

.secondary-news-text h3:hover{
    text-decoration: underline;
    cursor: pointer;
}

.secondary-news-text p{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 20px;
}

.secondary-news-text h4{
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: bold;
}

.secondary-news-text i{
    margin-right: 5px;
}


/*Today's picks*/
.todays-picks{
    display: flex;
    flex-direction: column;
    color: white;
       
}

.todays-picks h2{
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-left: 4px solid #FFD51C;
    padding-left: 20px;
    margin-bottom: 20px;
}

.pick-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.pick-element-img img{
    width: 120px;
    height: 100px;
}

.pick-element-text{
    padding: 10px;
}

.pick-element-text h3{
    margin-top: -20px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
}

.pick-element-text h3 span{
    font-weight: 400;
}

.pick-element-text p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.5;
}

.pick-element-text p:hover{
    text-decoration: underline;
}